<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dogs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dogs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dogs-link">
                <a href="" class="dropdown-item">Dog Food</a>
                <a href="" class="dropdown-item">Dog Treats</a>
                <a href="" class="dropdown-item">Dog Toys</a>
                <a href="" class="dropdown-item">Dog Collars, Harnesses & Leads</a>
                <a href="" class="dropdown-item">Dog Car, Travel & Outdoor Accessories</a>
                <a href="" class="dropdown-item">Dog Bowls & Feeding Accessories</a>
                <a href="" class="dropdown-item">Dog Beds</a>
                <a href="" class="dropdown-item">Dog Healtcare & Hygiene</a>
                <a href="" class="dropdown-item">Dog Grooming</a>
                <a href="" class="dropdown-item">Dog Coats & Accessories</a>
                <a href="" class="dropdown-item">Dog Kennels & Gardening</a>
                <a href="" class="dropdown-item">Dog Training Aids</a>
                <a href="" class="dropdown-item">Dog Poop Bagas & Accessories</a>
                <a href="" class="dropdown-item">Dog Cooling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cats-link">
                <a href="" class="dropdown-item">Cat Food</a>
                <a href="" class="dropdown-item">Cat Treats</a>
                <a href="" class="dropdown-item">Cat Toys</a>
                <a href="" class="dropdown-item">Cat Collars, Harnesses & Leads</a>
                <a href="" class="dropdown-item">Cat Tags & Cat Bells</a>
                <a href="" class="dropdown-item">Cat Bowls & Feeding Accessories</a>
                <a href="" class="dropdown-item">Cat Beds</a>
                <a href="" class="dropdown-item">Cat Healtcare</a>
                <a href="" class="dropdown-item">Cat Grooming Products</a>
                <a href="" class="dropdown-item">Cat Scratchers</a>
                <a href="" class="dropdown-item">Cat Home & Gardening</a>
                <a href="" class="dropdown-item">Catnip Products</a>
                <a href="" class="dropdown-item">Cat Poop Scoop</a>
                <a href="" class="dropdown-item">Cat Litter & Litter Trays</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>